
.row{
    display: flex;
}
cell{
    display:block;
}

.plain{
    background-color: burlywood;
}
.jungle{
    background-color: darkgreen;
}
.coconut{
    background-color: rgb(70, 39, 13);
}
.banana{
    background-color: yellow;
}
.pineapple{
    background-color: orange;
}