
.row{
    display: flex;
}
cell {
    display:block;
    width:50px;
    aspect-ratio: 1/1;
    background-color: khaki;
    text-align: center;
    line-height: 50px;
}

.plain{
    background-color: burlywood;
}
.jungle{
    background-color: darkgreen;
}
.coconut{

}
.banana{

}
.pineapple{

}
cell[data-type="FF"] {
    background-color: darkgreen;
}
cell[data-type="CC"] {
    background-color: brown;
}
cell[data-type="BB"] {
    background-color: yellow;
}
cell[data-type="PP"] {
    background-color: orange;
}
cell[data-type="  "] {
    background-color: burlywood;
}

