@font-face {
  font-family: JungleFont;
  src: url(fonts/EvilEmpire-4BBVK.ttf);
}

/* body {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(41, 97, 9);
    /* display: flex;
    align-items: center;
    justify-content: center; */
/* margin: auto; */
/*} */

html,
body {
  /* height:100%;
    width:100%; */
  /* margin:0; */
  background-color: rgb(0, 0, 0);
}

body {
  /* display:flex; */
  background-color: black;
  height: 90vh;
  overflow: hidden;
}

.image {
  background-image: url("https://i.pinimg.com/originals/ed/a5/73/eda5739966cb33768d8ad0d77d7307ce.gif");

  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-repeat: no-repeat;
  background-size: 100vw 98vh;
  /* background-position: center; */
  height: 100vh;
}




.login {
  /* border: solid;
    border-top: transparent; */

    background-color: rgb(236, 236, 236);
    padding:3vh;
    color: black;
    height: 50vh;
    border-radius: 7px;
    transform: translate(0%, -80vh);
    margin: auto;
    width: 25vw;
    
}

.login input{
    margin-left: 2vw;
    width: 20vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    
}

.login h1 {
    text-align: center;
}

.login .org {
  padding-top: 7vh;
    font-style: italic;
    color: grey;
}

div .desc {
  padding-top: 10px;
  padding-bottom: 1px;
  margin-left: 2vw;
  
}

button {
  margin-top: 4vh;
  width: 20.4vw;
  margin-left: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;  
}

.server {
  display: flex;
  background-color: gray;
  margin: 10px;
  text-align: center;
  /*font-family: JungleFont;*/
  border-radius: 10px;
}

.lockimage {
  margin-top: 2.5vh;
  margin-right: 8px;
  margin-left: 6x;
}

.serverinfo {
  margin-top: 3vh;
  font-size: 3vh;
  margin-left: 1vw;
}

.joinbutton {
  height: 6vh;
  background-color: gray;
  margin-top: 2.5vh;
  margin-left: 3.3vw;
  border-radius: 10px;
  width: 6vw;
}
