body {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(41, 97, 9);
}

.title {
    border-color: saddlebrown;
    border-width: thick;
    border: solid;
    background-color: yellow;
    
    
}

.login {
    border: solid;
    border-top: transparent;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(199, 151, 75);
    
}

