@font-face {
  font-family: JungleFont;
  src: url(fonts/EvilEmpire-4BBVK.ttf);
}
@font-face {
  font-family: PixelFont;
  src:url(fonts/ARCADECLASSIC.TTF)
}


:root {
  --visibility: hidden;
}

.row {
  display: flex;
}

cell {
    display:block;
    height: min(var(--size_height), var(--size_width));  /*size is calculated in HTML*/
    width: min(var(--size_height), var(--size_width));
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
}
playername{
    position: relative;
    width: 12.5vw;
    font-size: 3vh;
    font-family: PixelFont;
    text-shadow: greenyellow;
    bottom: min(50%, 2vh); /*text floats above monkey */
    white-space: nowrap; /*so name is shown on one single line*/
    text-overflow: ellipsis;
    overflow: hidden;
    display: block; /*anotherwise width doesn't work*/
}

projectile{
  display: block;
  position: relative;
  background-size: cover;
  background-image: url(sprites/coconut.png);
  aspect-ratio: 1/1;
}

#grid{
    font-size: 13px;
    display: inline-block;
}

.plain {
  background-image: url(sprites/grass.png);
}
.jungle {
  background-image: url(sprites/jungle.png), url(sprites/grass.png); /*need to do it like this, couldn't find a better way to get a background over a backgroudn*/
}
.coconut {
  background-image: url(sprites/coconut.png), url(sprites/grass.png);
}
.banana {
  background-image: url(sprites/banana.png), url(sprites/grass.png);
}
.pineapple {
  background-image: url(sprites/pineapple.png), url(sprites/grass.png);
}
.player {
  background-image: url(sprites/monkey_pixel.png), url(sprites/grass.png);
}

.container {
  padding: 10px;
}

#navigation {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

#knockmsg {
  display: inline-table;
  background-color: #875b;
  width: 63%;
  margin-left: 10%;
  margin-top: 35%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
  font-size: 400%;
  font-family: JungleFont;
  border-radius: 5vh;
  align-items: center;
}

#overlay {
  position: relative;
  top: -90vh;
  visibility: var(--visibility);
  background-color: #1117;
  height: 90vh;
  width: 100%;
}

/* Scoreboard for Players */
.title {
  border-bottom: 1px solid black;
}

.playerSb {
  padding: 0 5px 5px 0;
  border-bottom: 1px solid black;
}

.playerSb.inactive {
  color: grey;
}

.leave {
  position: relative;
  margin-top: 5px;
}

#round {
  border-bottom: 1px solid black;
}