
.row{
    display: flex;
}
cell {
    display:block;
    width: 100%; /* 100% of the grids width*/
    aspect-ratio: 1/1;
    background-color: burlywood;
}
#grid {
    width: min(90vw, 90vh); /* fits to the smaller component (Normally height) */
}

.plain{
    background-color: burlywood; /* add textures */
}
.jungle{
    background-color: rgb(3, 61, 3);
}
.coconut{
    background-color: rgb(70, 39, 13);
}
.banana{
    background-color: yellow;
}
.pineapple{
    background-color: orange;
}
.player{
    background-image: url(sprites/monkey.png);
    background-size: contain;
}
