<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JungleCamp</title>
    <link rel="icon" type="image/png" href="static/sprites/monkey.png">
    <link rel="stylesheet" href="static/login.css">

    <script src="static/login.js" async></script>
</head>

<body>
    <div class="image"></div>
        <div class="login">

            <h1>JungleCamp</h1>

            <label for="name">Nickname</label> 
            <br>
            <input id="name" type="text">  
            <br>
            <label for="mode">Set as Spectator</label>
            <br>
            <input  id="mode" type="checkbox">
            <br>
            <label for="password">Password</label>
            <input id="password" type="text">
            <br>
            <input id="serverName" type="text">
            <button onclick="login('newGame', '')">New Game</button>
            <br>
            <label class="org">made by JungleState</label>
            <div id="openGames"></div>
        </div>
    </div>

    
</body>
</html>