<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JungleState</title>
    <link rel="icon" type="image/png" href="static/sprites/monkey.png">
    <link rel="stylesheet" href="static/view.css">
    <script src="static/view.js"></script>
    <script src="static/controller.js"></script>
</head>

<body>
    <!-- <button onclick="test()">Test</button> -->
    <div class="container">
        <div id="grid" style="
        --size_width: {{ (90/dimension_x) }}vw;
        --size_height: {{ (90/dimension_y) }}vh"> <!-- sorts dimensions and takes the smallest one. (basically a min() function-->
            {%for row in range( dimension_y )%} <!-- the dimension variable comes directly from app.py-->
                <div class="row">
                    {%for column in range( dimension_x )%}
                        <cell> </cell>
                    {%endfor%}
                </div>
            {% endfor %}
        </div>
        <div id="navigation">
            {% if mode == "client" %}
                <!-- Client HTML -->
                <div id="name"></div>
                <div id="lives"></div>
                <div id="coconuts"></div>
                <div id="points"></div>
                <div id="round"></div>
            {% else %}
                <!-- Spectator HTML -->
            {% endif %}
        </div>
        <div id="overlay">
            <div id="knockmsg">Knocked Out</div>
        </div>
    </div>
</body>
</html>