<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JungleState</title>
    <link rel="icon" type="image/png" href="../Static/monkey.png">
    <link rel="stylesheet" href="Static/junglestate.css">
    <script src="/static/data/controller.js" async></script>
    <script src="/static/data/view.js" async></script>
    <script src="/static/data/login.js" async></script>
</head>

<body>
    <h1>Welcome To JungleState</h1>
    <label for="name">Enter Your Name: </label> 
    <input id="name" type="text">  
    <br>
    <label for="mode">Are You a Spectator?</label>
    <input  id="mode" type="checkbox">
    <br>
    <button onclick="login()">Login</button>

    <div id="grid">
        {%for row in range(50)%}
            <div class="row">
                {%for coumn in range(50)%}
                    <cell>x</cell>
                {%endfor%}
            </div>
        {% endfor %}
    </div>
</body>
</html>